@page
@model StaffAtt.Web.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset your password</h2>

<form method="post">
    <input type="hidden" asp-for="Input.UserId" />
    <input type="hidden" asp-for="Input.Code" />

    <div class="form-group">
        <label>New Password</label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <button class="btn btn-primary mt-2">Reset Password</button>
</form>
